.background{
    position: relative;
    background: url(https://images5.alphacoders.com/975/975616.jpg) no-repeat;
    background-size: cover;
    width: 1920px;
    height: 1080px;
}

.main-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    text-shadow: 0 0 5px #000000;
}

.main-content h1 {
    font-size: 120px;
}

@media screen and (max-width: 900px) {
    .main-content h1 {
        font-size: 50px;
    }

    .main-content h3 {
        font-size: 10px;
    }

    .background{
        background: url(https://images5.alphacoders.com/975/975616.jpg) no-repeat;
        background-size: cover;
        background-position: center 20px;
        width: 600px;
        height: 1200px;
    }
}